{% extends "navbarandlogo.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Contact Us</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h1> Have a restaurant or food truck you want us to review?</h1>
    <h1> Contact Us!</h1>
    <br>
    <form name="feedback-form" id="feedback-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="text"  id="email" name="email" required>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" rows="5" required>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
</body>
</html>