{% extends "navbarandlogo.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Contact Us
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="header">
    <h1> Have a restaurant or food truck you want us to review?</h1>
    <h1> Contact Us!</h1>
    </div>
    <img src="{{url_for('static', filename='dm.jpg')}}" height="auto" width="auto"
    style="text-align: center;">
    <br>
    <div class="container">
    <form name="feedback-form" id="feedback-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name..">
        <br>
        <label for="email">Email:</label>
        <input type="text"  id="email" name="email" placeholder="Your email..">
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Write your message.." style="height: 200px;"></textarea>
        <br>
        <input type="submit"></input>
    </form>
    </div>
{% endblock %}
</body>
</html>