{% extends "navbarandlogo.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Where to Eat{% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
    <h1>Where to Eat at Temple</h1>
    <br>
    <br>
    <h2>Mexican Grill Stand</h2>
    <img src="{{url_for('static', filename='mgs.jpg')}}">
    <br>
    <div class="card">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <p><b>Cuisine: </b>Mexican</p>
    <p><b>Location: </b> 1724 N 13th St, Philadelphia, PA 19122 (Blue Cart, across from the SAC)</p>
    <p><b>Hours: </b>Monday - Friday - 11AM - 7PM </p>
    <p><b>Additional Info: </b>Cash Discount Offered</p>
    <br>
    </div>
    <br>
    <h2> Nanu's Hot Chicken</h2>
    <img src="{{url_for('static', filename='nanus.jpg')}}">
    <br>
    <div class="card">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <p><b>Cuisine: </b>American</p>
    <p><b>Location: </b> 1755 N 13th St, Philadelphia, PA 19122 (Black Truck on Montgomery, near the corner of 13th outside of the SAC)</p>
    <p><b>Hours: </b>Monday - Friday - 10AM - 8PM </p>
    <p><b>Additional Info: </b>Halal</p>
    <p><a href="https://nanushotchicken.co">Website</a></p>
    <br>
    </div>
    <br>
    <h2>Twist Creamery</h2>
    <img src="{{url_for('static', filename='twist.jpg')}}">
    <br>
    <div class="card">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <p><b>Cuisine: </b>Ice Cream, Dessert</p>
    <p><b>Location: </b> 1537 Cecil B. Moore Ave, Philadelphia, PA 19121</p>
    <p><b>Hours: </b>Sunday - Monday, 2PM - 10PM </p>
    <p><a href="https://order.toasttab.com/online/twistcreamery">Website</a></p>
    <br>
    </div>
    </div>
    {% endblock %}
</body>
</html>