{% extends "navbarandlogo.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Welcome to Cherry Eats{% endblock %}
</head>
<body>
    {% block content %}
    <div class="header" style="text-align: center;" ><h1>Welcome to Cherry Eats!</h1>
        <img src="{{url_for('static', filename='foodtrucks.jpg')}}"/>
    </div>
    <br>
    <a href="{{url_for('views.reviews')}}">
    <input type="button" value="Recent Reviews">
    </a>
    <br>
    <a href="{{url_for('views.about')}}">
    <input type="button" value="About Us">
    </a>
    <br>
    <br>
    {% endblock %}
</body>
</html>