{% extends "navbarandlogo.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Temple Food Reviews{% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
        <h1>Recent Reviews</h1>
        <br>
        <br>
        <h2>Temple Teppanyaki</h2>
        <img src="{{url_for('static', filename='teppanyaki.jpg')}}">
        <br>
        <p>Located just across from the SERC on 12th St, Temple Teppanyaki is a Japanese-Korean fusion truck serving delicious dishes 
            such as tonkatsu, rice bowls, teppanyaki, and the fan-favorite #9 Wings with sticky rice pictured above.</p>
        <p>The truck can get busy around lunchtime, so we recommend calling ahead for pickup, especially if you're ordering the #9 Wings.
            Call ahead at (267) 342-3190. The truck is open from 9AM - 5:30PM Monday - Friday, and accepts Cash, Card, and Apple Pay.
        </p>
    </div>
    {% endblock %}
</body>
</html>