{% extends "navbarandlogo.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Temple Food Reviews{% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
        <h1>Recent Reviews</h1>
        <br>
        <br>
        <h2>Temple Teppanyaki</h2>
        <img src="{{url_for('static', filename='teppanyaki.jpg')}}">
    </div>
    {% endblock %}
</body>
</html>